*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fffafa;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
h1{
    text-align: center;
    font-weight: 200;
    width: 100%;
    background: #2e2e2e;
    color: white;
    padding: 20px;
}
h2{
    text-align: center;
    margin: 10px 0;
    font-weight: 200;
   
}

form{
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form input, form select{
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 10px;
    height: 30px;
    width: 300px;
    border: 1px solid gray;
}

#adicionar{
    padding: 20px;
}

#adicionar form button{
    height: 40px;
    width: 150px;
    margin: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #28A745;
    color: white;
}

#adicionar form button:hover{
    filter: brightness(0.8);
    cursor: pointer;
}

#dados form button{
    height: 40px;
    width: 150px;
    margin: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #17A2B8;
    color: white;
}

#dados{
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
}

#dados form button:hover{
    filter: brightness(0.8);
    cursor: pointer;
}

table{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

table th, table td{
    width: 200px;
    padding: 5px 10px;
    height: 30px;

    border-right: 1px solid black;
}


:-webkit-any(table, thead, tbody, tfoot, tr) > form:-internal-is-html {
    display: block !important;
}

.btn-atualizar, .btn-excluir{
    width: 150px;
    height: 30px;
    border: none;
    border-radius:5px;
}

.btn-atualizar{
    background: #007BFF;
    color: white;
}

.btn-atualizar:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.btn-excluir{
    background: #DC3545;
    color: white;
}

.btn-excluir:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

a{  
    text-decoration: none;
    padding: 10px 20px;
    height:30px;
    font-size: 12px;
}

i{
    margin-left: 10px;
}

#modal-div{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
#modal{
    width: 350px;
    height:270px;
    background:#dcdcdc;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#atualizar{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#atualizar button{
    background: transparent;
    border: none;
    color: #DC3545;
    font-size: 20px;
}

#atualizar button:hover{
    cursor: pointer;
}
#modal form{
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#modal input{
    width: 300px;
    display: block;
}



